h1, h2, h3, h4, h5, h6 {
    font-family: "nasalization",sans-serif;
}

/*Sticky footer from http://getbootstrap.com/examples/sticky-footer/*/
html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #aaa;
    margin-bottom: 60px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding-top: 20px;
    color: #888;
    background-color: #eee;
}

.navbar {
    margin-bottom: 0;
}

/* Using http://www.colourlovers.com/palette/1473/Ocean_Five */

.frontpage section {
    box-shadow: inset 0 0 50px rgba(0,0,0,.2);
}

.frontpage section, .frontpage footer {
    padding-top: 40px;
    padding-bottom: 40px;
}

.frontpage .banner {
    color: #eee;
    background-color: #00A0B0;
}

.frontpage .sponsors {
    color: #444;
    background-color: #EDC951;
}

.frontpage .sponsors .sponsor {
    padding-bottom: 40px;
    text-align: center;
}

.frontpage .about, .frontpage .about .thumbnail {
    color: #444;
    background-color: #EB6841;
    border: none;
}

.frontpage .about .row {
    margin-top: 40px;
    margin-bottom: 40px;
}

.frontpage .about .people {
    text-align: center;
}

.frontpage .about .people img {
    width: 128px;
    height: 128px;
}

.eventpage {
    color: #ddd;
    background-color: #00A0B0;
}

.eventpage a {
    color: #0E485A;
}